body {
    color: #262626;
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    font-weight: 500;

    background-color: #3f5139;
    background-image: url("../assets/grass_field.jpg");
    background-size: 525px 1000px;
    background-blend-mode: lighten;
}

header, footer {
    background-color: #F5F5F5;
    padding: 5%;
}

header {
    text-align: center;
}

footer {
    display: none;
}

h1 {
    font-family: "Jua", sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
    margin: 5px;
}

.audioSection {
    display: none;
}

.rectButton {
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    font-weight: 500;

    background-color: #F5F5F5;
    background-image: linear-gradient(#E9F3D8 0%, #F5F5F5 50%);
    border: 1.5px solid #000000;
    border-radius: 8px;
    
    padding: 12px;
    margin: 14px;
}

.labeledToggle {
    display: flex;
    align-items: center;
}

/* Toggle (.switch classes) modified from W3Schools,
https://www.w3schools.com/howto/howto_css_switch.asp on 11 November 2025 */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The inner slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #399a19;
}

input:focus + .slider {
  box-shadow: 0 0 1px #399a19;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Apply to an overlay over body when initial popup appears to blur elements under */
.backgroundFilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(152, 155, 108, 0.4);
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

/* ////////////////////////////// CREATURES ////////////////////////////// */

.creatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 24px;
}

.creature1, .creature2, .creature3, .creature4, .creature5, .creature6, .creature7, .creature8 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.creatures button:focus {
    background: pink;
}

.creature7, .creature8 {
    display: none;
}

.creature1 {
    grid-column: 3;
    grid-row: 1;

    aspect-ratio: 1;
    clip-path: shape(from 88.19% 37.14%,curve to 89.03% 63.47% with 90.99% 50.00%,curve to 75.91% 86.16% with 87.07% 76.93%,curve to 51.55% 90.62% with 64.75% 95.38%,curve to 27.30% 80.19% with 38.35% 85.86%,curve to 10.33% 62.26% with 16.25% 74.52%,curve to 7.27% 35.51% with 4.42% 50.00%,curve to 24.26% 17.67% with 10.12% 21.03%,curve to 51.86% 8.60% with 38.40% 14.31%,curve to 75.35% 13.59% with 65.31% 2.89%,curve to 88.19% 37.14% with 85.39% 24.29%);
}

.creature2 {
    grid-column: 1;
    grid-row: 2;

    aspect-ratio: 1;
    clip-path: shape(from 74.96% 44.52%,curve to 78.32% 57.24% with 79.04% 50.00%,curve to 73.64% 71.49% with 77.61% 64.49%,curve to 62.43% 85.59% with 69.67% 78.49%,curve to 45.23% 90.75% with 55.18% 92.69%,curve to 31.37% 79.39% with 35.28% 88.81%,curve to 29.47% 62.27% with 27.46% 69.97%,curve to 26.63% 48.80% with 31.49% 54.56%,curve to 25.01% 36.89% with 21.77% 43.04%,curve to 31.83% 21.13% with 28.26% 30.74%,curve to 44.82% 13.30% with 35.40% 11.52%,curve to 60.65% 20.18% with 54.24% 15.08%,curve to 68.97% 32.16% with 67.07% 25.27%,curve to 74.96% 44.52% with 70.87% 39.05%);

    height: 100px;
    width: 100px;
}

.creature3 {
    grid-column: 5;
    grid-row: 2;


    aspect-ratio: 1;
    clip-path: shape(from 95.24% 39.80%,curve to 85.89% 55.70% with 98.11% 50.00%,curve to 71.34% 67.62% with 73.67% 61.40%,curve to 63.56% 79.67% with 69.02% 73.85%,curve to 50.54% 83.15% with 58.10% 85.50%,curve to 36.22% 78.27% with 42.97% 80.80%,curve to 23.91% 70.49% with 29.47% 75.75%,curve to 18.39% 57.62% with 18.36% 65.24%,curve to 18.43% 42.40% with 18.41% 50.00%,curve to 25.49% 31.45% with 18.44% 34.80%,curve to 37.29% 21.61% with 32.54% 28.10%,curve to 49.77% 16.12% with 42.04% 15.13%,curve to 62.57% 22.50% with 57.51% 17.12%,curve to 80.00% 28.74% with 67.64% 27.88%,curve to 95.24% 39.80% with 92.36% 29.60%);
}

.creature4 {
    grid-column: 2;
    grid-row: 3;

    aspect-ratio: 1;
    clip-path: shape(from 88.31% 41.33%,curve to 85.40% 57.27% with 90.63% 50.00%,curve to 79.58% 75.44% with 80.18% 64.53%,curve to 68.33% 84.99% with 78.98% 86.34%,curve to 50.10% 83.20% with 57.68% 83.63%,curve to 33.69% 82.15% with 42.52% 82.76%,curve to 22.19% 73.10% with 24.85% 81.53%,curve to 17.00% 57.34% with 19.53% 64.67%,curve to 17.49% 42.90% with 14.46% 50.00%,curve to 19.84% 23.57% with 20.52% 35.80%,curve to 30.40% 12.35% with 19.16% 11.33%,curve to 49.89% 13.87% with 41.64% 13.37%,curve to 66.88% 16.12% with 58.13% 14.36%,curve to 80.81% 25.27% with 75.62% 17.87%,curve to 88.31% 41.33% with 86.00% 32.67%);
}

.creature5 {
    grid-column: 5;
    grid-row: 4;

    aspect-ratio: 1;
    clip-path: shape(from 87.82% 39.43%,curve to 89.49% 61.79% with 96.54% 50.00%,curve to 71.58% 78.26% with 82.45% 73.58%,curve to 49.32% 85.03% with 60.70% 82.94%,curve to 26.07% 81.56% with 37.94% 87.12%,curve to 10.12% 63.00% with 14.21% 76.00%,curve to 9.05% 36.21% with 6.04% 50.00%,curve to 25.11% 18.02% with 12.05% 22.43%,curve to 48.99% 16.71% with 38.18% 13.61%,curve to 69.45% 24.34% with 59.81% 19.82%,curve to 87.82% 39.43% with 79.09% 28.86%);
}

.creature6 {
    grid-column: 3;
    grid-row: 5;

    aspect-ratio: 1;
    clip-path: shape(from 75.42% 65.65%,curve to 60.92% 82.92% with 69.16% 73.16%,curve to 40.91% 87.78% with 52.69% 92.69%,curve to 18.56% 74.75% with 29.14% 82.87%,curve to 11.22% 53.75% with 7.99% 66.63%,curve to 16.39% 26.30% with 14.45% 40.87%,curve to 32.69% 7.35% with 18.34% 11.72%,curve to 61.61% 5.86% with 47.04% 2.97%,curve to 81.30% 22.16% with 76.18% 8.74%,curve to 84.05% 46.86% with 86.42% 35.58%,curve to 75.42% 65.65% with 81.69% 58.14%);
}

.creature7 {
    grid-column: 4;
    grid-row: 4;

    aspect-ratio: 1;
    clip-path: shape(from 77.56% 66.98%,curve to 61.95% 87.15% with 70.81% 75.15%,curve to 39.26% 93.94% with 53.09% 99.15%,curve to 18.67% 76.90% with 25.42% 88.73%,curve to 8.01% 51.65% with 11.92% 65.08%,curve to 14.84% 29.35% with 4.10% 38.21%,curve to 36.73% 18.30% with 25.59% 20.49%,curve to 59.98% 15.64% with 47.87% 16.11%,curve to 82.34% 24.16% with 72.10% 15.17%,curve to 88.44% 45.98% with 92.57% 33.14%,curve to 77.56% 66.98% with 84.31% 58.81%);
}

.creature8 {
    grid-column: 3;
    grid-row: 2;

    aspect-ratio: 1;
    clip-path: shape(from 88.26% 74.47%,curve to 66.86% 92.00% with 80.78% 87.20%,curve to 40.93% 90.02% with 52.94% 96.80%,curve to 21.19% 73.85% with 28.91% 83.24%,curve to 9.55% 51.54% with 13.47% 64.46%,curve to 17.20% 31.48% with 5.62% 38.61%,curve to 38.17% 17.79% with 28.78% 24.34%,curve to 58.08% 15.97% with 47.56% 11.24%,curve to 78.85% 27.61% with 68.60% 20.69%,curve to 92.41% 48.13% with 89.09% 34.52%,curve to 88.26% 74.47% with 95.74% 61.74%);
}

/* ////////////////////////////// ANIMATIONS ////////////////////////////// */

.creatureAnimation {
    animation-name: animA;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.creatureAnimationB {
    animation-name: animB;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes animA {
    0% {transform: scale(0.95);}
    10% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes animB {
    0% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

@media screen and (min-width: 750px) {

    body {
        background-size: cover;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    h1 {
        margin: 0;
        line-height: normal;
    }

    .creatures {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .creatures button {
        width: 40%;
        height: 100%;
    }

    .creature7, .creature8 {
        display: block;
    }

    .creature1 {
        grid-column: 2;
        grid-row: 1;
    }
    
    .creature2 {
        grid-column: 3;
        grid-row: 1;
    }

    .creature3 {
        grid-column: 4;
        grid-row: 1;
    }

    .creature4 {
        grid-column: 2;
        grid-row: 2;
    }

    .creature5 {
        grid-column: 3;
        grid-row: 2;
    }

    .creature6 {
        grid-column: 4;
        grid-row: 2;
    }

    .creature7 {
        grid-column: 2;
        grid-row: 3;
    }

    .creature8 {
        grid-column: 4;
        grid-row: 3;
    }
    
}

@media (prefers-reduced-motion: reduce) {
    .creatureAnimation {
        animation-name: animB;
    }
}